<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right"
      type="button" data-toggle="collapse" data-target="#containerNavbar"
      aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>


    <div class="collapse navbar-collapse bg-dark navbar-dark fixed-top" id="containerNavbar">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="Dashboard#Top3">TOP 3</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="Dashboard#section1">OVERVIEW</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section2">FACILITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section3">SITUATION OF HOUSING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section4">POPULATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section5">ECONOMIC ACTIVITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section6">ENVIRONMENTAL CARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section7">ABOUT JALISCO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Dashboard#section8">ABOUT MEXICO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Dashboard#section9">DETAILS</a>
            </li>
            <li class="nav-item" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/">HOMPAGE </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="btn btn-primary"
                  (click)="onLogout()" *ngIf= "isAuth()">Logout</button>
        </li>
      </ul>
  </div>
  </nav>

<div id="tOP3" class="container-fluid bg-info" style="padding-top:10px;padding-bottom:10px">
   <h1>TOP 3 MOST RECOMMENDED DELEGATIONS TO INVEST</h1>
   <app-tabla></app-tabla>
</div>
<div id="section1" class="container-fluid bg-info" style="padding-top:10px;padding-bottom:10px">
  <h1>OVERVIEW</h1>
  <app-overview></app-overview>
</div>
<div id="section2" class="container-fluid bg-danger" style="padding-top:10px;padding-bottom:10px">
  <h1>FACILITIES</h1>
  <app-facilities></app-facilities>
</div>
<div id="section3" class="container-fluid bg-secondary" style="padding-top:10px;padding-bottom:10px">
  <h1>SITUATION OF HOUSING</h1>
  <app-housing></app-housing>
</div>
<div id="section4" class="container-fluid bg-info" style="padding-top:10px;padding-bottom:10px">
  <h1>POPULATION</h1>
  <app-population></app-population>
</div>
<div id="section5" class="container-fluid bg-danger" style="padding-top:10px;padding-bottom:10px">
  <h1>ECONOMIC ACTIVITY</h1>
  <app-economic></app-economic>
</div>
<div id="section6" class="container-fluid bg-secondary" style="padding-top:10px;padding-bottom:10px">
    <h1>ENVIRONMENTAL CARE</h1>
    <app-wnviromental></app-wnviromental>
  </div>
  <div id="section7" class="container-fluid bg-info" style="padding-top:10px;padding-bottom:10px">
    <h1>ABOUT JALISCO</h1>
    <app-jalisco></app-jalisco>
  </div>
  <div id="section8" class="container-fluid bg-secondary" style="padding-top:10px;padding-bottom:10px">
    <h1>ABOUT MEXICO</h1>
    <app-mexico></app-mexico>
  </div>
  <div id="section9" class="container-fluid bg-info" style="padding-top:10px;padding-bottom:10px">
      <h1>Overview:</h1>
      <h3>Percentage of homes that have drainage and piped wáter.</h3>

      <h1>Facilities:</h1>
      <h3>In this category, it is possible to observe the amount of water inflow facilities with and without meter for the public supply.</h3>

      <h1>Situation of housing:</h1>
      <h3>Number of homes supplied by water from the public network through pipes inside the house. It refers to both the system (pipeline) and the means of supply (public network).</h3>

      <h1>Population:</h1>
      <h3>It shows the number of inhabitants that each municipality of Guadalajara has.</h3>

      <h1>Economic Activity:</h1>
      <h3>Presents the behavior of the economy that Jalisco has in the branches of the active economic population, total gross production and value added.</h3>

      <h1>Enviromental Care:</h1>
      <h3>It refers to the number of sites where wastewater is discharged without treatment, that is, without being subjected to purification processes of its pollutant load.</h3>

      <h1>About Jalisco:</h1>
      <h3>It indicates the information about the public services that the houses in Jalisco have.</h3>

      <h1> About Mexico:</h1>
      <h3>It shows the relation of water consumption in cubic meters with respect to the total production of final goods and services in the country.</h3>

    </div>
