<app-header></app-header>
<div class="container">
  <div class="col-md-6">
    <!-- Graficas lineales -->
    <app-grafica></app-grafica>
  </div>
  <div class="col-md-6">
    <!-- Graficas lineales -->
    <app-graficacircular></app-graficacircular>
  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <!-- Graficas lineales -->
    <app-grafica></app-grafica>
  </div>
</div><div class="container">
  <div class="col-md-6">
    <!-- Graficas lineales -->
    <app-graficacircular></app-graficacircular>
  </div>
</div>
