<div class="panel panel-primary">
    <div class="panel-heading">Grafica DinamicahjadsfcusGDSLDX,AIDHCSAIHGDautdsATDISAYTISADTUSACTKACIS</div>
      <div style="display: block;">
          <canvas baseChart
          [data]="roundChartData"
          [labels]="roundChartLabels"
          [chartType]="roundChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
  </div>
  <button (click)="randomizeType()" style="display: inline-block">Change Graph type</button>
<hr>
