<app-header></app-header>
<hr>
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Buitres page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="Inicio" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
  <h1>AQUA CONTAINER</h1>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Aqua container proyect</h2><br>
      <h4>The main objective of our project is to raise the existing problems in the supply of drinking water to the domestic sector in the ZMG, from 2010 to 2016, where significant changes were made in the sources of supply, as well as in the way of organizing for meet the demand for that resource in the metropolitan area.
          With this information collected, it will be possible to identify the areas with the highest rate of affectation, which will be useful for the investment of resources that can help to solve the problem presented.
          </h4>
          <br>

    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <br><br><br> <br>
      <img width="300" src="../../assets/MAPA.png">
    </div>
    <div class="col-sm-8">
      <h2>The Metropolitan Area of Guadalajara (AMG) is integrated with the municipalities of:</h2><br>
      <ul class="list-group">
          <li class="list-group-item">•	San Pedro Tlaquepaque</li>
          <li class="list-group-item">•	Tonalá</li>
          <li class="list-group-item">•	Zapopan</li>
          <li class="list-group-item">•	Tlajomulco de Zúñiga</li>
          <li class="list-group-item">•	El Salto</li>
          <li class="list-group-item">•	Juanacatlán</li>
          <li class="list-group-item">•	Ixtlahuacán de los Membrillos</li>
          <li class="list-group-item">•	Guadalajara</li>
        </ul>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h1>Data sources</h1>
  <br>
  <div class="row-slideanim">
    <div class="col-sm-4">
        <img width="200" src="../../assets/CONAPO.png">
        <br> <br>
    </div>
    <div class="col-sm-4">
        <img width="200" src="../../assets/DATAJALIS.png">
        <br> <br>
    </div>
    <div class="col-sm-4">
        <img width="80" src="../../assets/INEGI.png">
        <br> <br>
      <br> <br>
      <br> <br>
    </div>
  </div>
  <br><br>
  <div class="row-slideanim">
    <div class="col-sm-4">
        <img width="70" src="../../assets/SIAPA.png">
    </div>
    <div class="col-sm-4">
        <img width="150" src="../../assets/IIEG.png">
    </div>
  </div>
  </div>


<footer class="container-fluid text-center">
  <a href="#Inicio" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#Inicio']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>

